<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">City</th>
        <th scope="col">Gender</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Date of Appointment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let index = index">
          <td>{{index}}</td>
          <td>{{user.firstname}}</td>
          <td>{{user.lastname}}</td>
          <td>{{user.city}}</td>
          <td>{{user.gender}}</td>
          <td>{{user.dateOfBirth}} </td>
          <td>{{user.dateOfApp}}
            <button class="btn btn-danger" style="float: right;" (click)="updateRegistration(index)">
                <i class="fas fa-edit"></i>
                Delay Date
            </button></td>
            <td>
            <button class="btn btn-danger" style="float: right;" (click)="deleteRegistration(index)">
                <i class="fa fa-trash" aria-hidden="true"></i>
                Delete
            </button>
        </td>
      </tr>
    </tbody>
  </table>
